@tailwind base;
@tailwind components;
@tailwind utilities;
/* Override the Tailwind preflight */
button[type="submit"] {
  @apply bg-black;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
  }

  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  .wrapper {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    animation: slidein 120s linear infinite;
    filter: grayscale(100%);
  }
}

/* Override Nextra defaults */
article.nextra-body-typesetting-article {
  line-height: 1.75;
}
article.nextra-body-typesetting-article p {
  line-height: 1.75 !important;
}

article.nextra-body-typesetting-article h1,
article.nextra-body-typesetting-article h2,
article.nextra-body-typesetting-article h3,
article.nextra-body-typesetting-article h4 {
  line-height: 1.25 !important;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


@layer base {
  body {
    @apply bg-white;
  }
}
@layer components {
  .top-container {
    @apply flex scrollbar-hide;
  }
  .nav-container {
    @apply sticky w-[80px] top-0 flex flex-col justify-between items-center h-screen border-r py-4;
  }
  .home-content-container {
    @apply w-[100vw] md:w-[calc(100vw-80px)] py-6 ;
  }
  .home-content-section {
    @apply max-w-[1200px] mx-auto mt-24 px-4;
  }
  .project-card {
    @apply w-full h-[500px] bg-gray-100 rounded-xl p-6 overflow-hidden;
  }
}

